.example{
width:100px;
height:100px;
background-color:blue;
position:relative;
animation-name:example;
animation-duration:4s;
animation-direction:alternate;
}

@keyframes example{
    0%{background-color:red; left:0px; top:0px;}
    25%{background-color:blue;left:100px;top:0px;}
    50%{background-color:yellow;left:100px;top:0px;}
    75% {background-color:green;left:0px;top:100px;}
    100%{background-color:black;left:0px;top:0px;}
}
